/*discrete palette :https://mycolor.space/?hex=%230A0908&sub=1


*/

:root{

    /*Colors*/
    --alternate-color: #0A0908;
    --box-color-grey:#EAE9E9;
    --box-color-pink:#ECE0DC;
    --box-color-white:white;
    --footer-color: #C8C8C7;
    --highlight: #C68300;
    --highlight-filter:invert(44%) sepia(27%) saturate(5555%) hue-rotate(27deg) brightness(106%) contrast(104%);
    --primary-color:#FFF8EC;
    --footer-font-color:#949392;
    $input-btn-font-size: --text-base;
    
    /*Font-family*/
    --font-body: 'Poppins', sans-serif;

    /* Font-sizes-mobile */
    --text-xlarge:3.2rem;
    --text-large: 3rem;
    --text-medium: 2.1rem;
    --text-base: 1.8rem;
    --text-small: 1.4rem;

    /* Spacings */
    --spacing-xlarge: 6rem;
    --spacing-large: 2.4rem;
    --spacing-medium: 2.2rem;
    --spacing-small: 2rem;
    --spacing-xsmall: 1rem; 
    }
    
    
    /*Global Styles*/
    *::after,
    *::before,
    * {
        margin: 0;
        padding: 0;
        box-sizing:border-box;
    }
    
    html{
        font-size: 62.5%;
        .icon{
            filter:brightness(0)
            }
    }

    body{
        .form-control{
            font-size: var(--text-small);
        }
        color: var(--alternate-color);
        text-decoration: none;

        .btn-primary{
            --bs-btn-color: #fff;
            --bs-btn-bg: #000000;
            --bs-btn-border-color: #000000;
            --bs-btn-hover-color: #fff;
            --bs-btn-hover-bg: #404040;
            --bs-btn-hover-border-color:  #464646;
            --bs-btn-focus-shadow-rgb: 49,132,253;
            --bs-btn-active-color: #fff;
            --bs-btn-active-bg: #080808;
            --bs-btn-active-border-color: #171717;
            --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            --bs-btn-disabled-color: #fff;
            --bs-btn-disabled-bg: #5e5e5e;
            --bs-btn-disabled-border-color:  #5e5e5e;
            --bs-btn-font-size: var(--text-small);
            --bs-btn-padding: var(--spacing-medium)

        }
        main{
            margin: 0px;
            padding: 0px;
            a{
                &:hover{
                    color: var(--highlight);
                }
            }
            
        ul{
            list-style-type: none;
        }
    

        
        a{ color:var(--alternate-color);
            text-decoration: none;
            &:link{
                list-style:none;
                text-decoration-line:none;
            }
            &:visited{
                list-style:none;
                text-decoration-line:none;
            }
        }
        }
        h1{
            font-size: var(--text-xlarge);
            margin-top: 0px;
            margin-bottom: var(--spacing-medium);
            text-align: center;
            background-color: var(--alternate-color);
            color:var(--primary-color);
            padding: var(--spacing-small);
        }
    
    
        h2{
            font-size: var(--text-large);
           text-align: center;
        }
    
        h3{
        font-size: var(--text-medium);
        text-align: center;
        }
    
        h4{
        font-size: 1.5rem;
        }
        p{
        font-size: var(--text-base);
        }
    }

    a{
        text-decoration: none;
        color: var(--alternate-color);

    }


    /* Bootsrap Overrides */
    .container-fluid{
        padding:0;
        margin:0;
    }
    .row{
        padding:0;
        margin:0;
        margin-bottom: var(--spacing-small);

       
    }
    .col-sm-12, .col-md-6, .col-lg-6, .col-lg-4{
        padding:0;
        margin:0; 
        
    }

    $form-text-color:#C8C8C7;

 @media screen and (min-width: 768px), screen and (orientation: landscape) {
/* Font-sizes-other-devices */
:root{ 
    --text-xlarge:4rem;
    --text-large: 3.8rem;
    --text-medium: 3.2rem;
    --text-base: 1.9rem;
    --text-small: 1.4rem;
    
    }
    
    html{
        font-size: 62.5%;
        .icon{
            filter:brightness(0)
            }
    }
    
    a{
        text-decoration: none;
        color: var(--alternate-color);
        transition: color 1s;
        &:hover{
            color:var(--highlight);
        }
    }

 }


