#header{
    padding: var(--spacing-small);
    background-color: white;
    #big-logo{
        display: none;
    }
    #desktop-cart{
        display: none;

    }
    
    .bg-body-tertiary{
        background-color: white;
        --bs-bg-opacity: 0;
    }

    #nav-menu{
        font-size: var(--text-small);
        background-color: black;
        color: white;
        #logo-small{
            max-height: var(--spacing-xlarge);
            width: 50px;
        }

        #sign-up-icon{
            max-height: var(--spacing-xlarge);
            width: 50px;
        }
        #mobile-cart{
            background-repeat: no-repeat;
            display:flex;
            width: 80px;
            height: 70px;
            text-align:center;
            align-items:end;
            justify-content: center;
            margin: 0;
            padding: 0;
            #mobile-cart-link{
                margin-bottom:0;
                position: relative;
                bottom:55%;
                right: 15%;
            
                  
                #mobile-cart-counter{
                    
                    
                    background-color: white;
                    height:17px;
                    width:17px;
                    display: inline-block;
                    z-index:9;
                    font-size: small;
                    color:black;
                    font-weight: bold;
                    position:absolute;
                }
            
            }
        
        }
       
    }
        
} 

@media screen and (min-width: 768px), screen and (orientation: landscape) {
    #header{
      
        #header-logo-area{
            display: flex;
            justify-content:space-between;
            #big-logo{
                display:block;
                max-width: 8vw;
                height: auto;
                
            }
            #desktop-cart{
                display: block;
                background-repeat: no-repeat;
                display:flex;
                max-width: 7vw;
                height: auto;
                text-align:center;
                align-items:end;
                justify-content: center;
                margin: 0;
                padding: 0;
                #cart-link{
                    margin-bottom:0;
                    position: relative;
                    bottom:38%;
                    right: 4%;
                    #desktop-cart-counter{
                        background-color: white;
                        height:100%;
                        width:2vw;
                        display: inline-block;
                        z-index: 8;
                        font-size: medium;
                        color:black;
                        font-weight: bold;
                        position: relative;
                    }
                }  
            }
        }
        
        #nav-menu{
            align-items:center;
            #sign-up-icon{
                width: 2.6vw;
                
            }
            #logo-small{
                display:none;
            }
            #mobile-cart{
                display: none;
            }
        }
    }

}

