
main{
    
    
    #latest {
        background-color: var(--alternate-color);
        color: var(--primary-color);
        margin-bottom: var(--spacing-xlarge);
        text-align: center;
        img{
        width: 100%;
        max-height:60vh;
        }
        h3{
            color: var(--primary-color);
        }
    }

    #index_low-post-area{
        background-color: var(--box-color-pink);
        row-gap: var(--spacing-xlarge);
        
    }



    .title-holder{
        margin:0 auto;
        text-align: center;
        .title-holder_content-wrapper{
            margin:auto;
            .title-holder_image{
                width:90%;
                height:40vh;
                transition:filter 1.5s;
                &:hover{
                    filter: opacity(0.7);
                }
            }
        }
    }

    #trending-now-featured{
        width: 100%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
        border-radius: 15px;
        padding:var(--spacing-small)
    }

    #essential-reads-featured{
        border-radius: 15px;
        object-fit: fill;
        object-position: 50% 80%;
        height: 50vh;
        width: 100%;
        padding:var(--spacing-small)
    }
}    
    
    
    

@media  (min-width: 768px){ 
    
    main{



        a{
            &:hover{
                color: var(--highlight);
            }
        }

        #latest{
            
            margin-top: var(--spacing-small);
            margin-bottom: var(--spacing-xlarge);
            justify-content: center;
            text-align: center;
            a{
                &:hover{
                    color: var(--highlight);
                }
            }
            h2{
                padding: var(--spacing-medium);
                font-size: var(--text-xlarge);
            }
            img{
                width: 100%;
                max-height:60vh;
            }
        
        }

        #index_low-post-area{
            row-gap: var(--spacing-medium);
        }

        #trending-now-featured{
            width: 100%;
            height: 65vh;
            margin-right: auto;
            margin-left: auto;
            border-radius: 0
        }

        #essential-reads-featured{
            object-fit: cover;
            object-position: 50% 80%;
            height: 65vh;
            width: 100%;
        }
        
        
        .title-holder{
            h2{
                padding: var(--spacing-medium);
                font-size: var(--text-xlarge);
            }
            .title-holder_content-wrapper{
                .title-holder_image{
                    
                    height:65vh;  
                }
            }
         }
    }

/*Bootstrap override*/
    .carousel-control-next-icon, .carousel-control-prev-icon{

        background-color: var(--alternate-color);
        filter: opacity(0.7);
        width: 40px;
        height: 40px;
        align-items: center;
    }   
}  

@media screen and (min-width: 768px) and (orientation:portrait){ 
    #trending-now-featured{
        width: 100%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
        border-radius: 0;
       object-fit: cover;
    }

}