


/* Map para propiedades globales */

$style-colors:(primaryColor:#FFF7E8, alternateColor:#0A0908, hoverColor:#C68300, footerColor:#EAE9E9, boxBgPin: #ECE0DC, boxBgGrey: #EAE9E9, fontDarkColor: #0A0908, fontGreyColor: #C8C8C7, formBgColor:#FFF8EC, boxColorWhite:white) ;
$style-mobileFontSizes:(textXLarge:3.2rem, textLarge:3rem, textMedium:2.1rem, textBase:1.8rem, textSmall:1.4rem);
$style-fontSizes:(textXLarge:4rem, textLarge:3.8rem, textMedium:3.2rem, textBase:1.9rem, textSmall:1.4rem);
$style-spacings:(spacingXLarge:6rem, spacingLarge:2.4rem, spacingMedium:2.2rem, spacingSmall:2rem, spacingXSmall:1rem);



/*Extend usado para cambiar el estilo de los formularios de la página */

%form-style {
    background-color: map-get($style-colors,boxColorWhite);
    color: map-get($style-colors,alternateColor);
    font-size: map-get($style-fontSizes , textSmall);
}

#contact-form-wrapper{
    background-color: map-get($style-colors,formBgColor);
    color: map-get($style-colors,alternateColor);
    padding-bottom: map-get($style-spacings,spacingSmall);
    #contact-form {
        input, label, textarea, select, option, .form-button{
            @extend %form-style;
        }
        label{
            background-color: map-get($style-colors,primaryColor);
        }
        select{
            option{
                &:hover{
                    background-color:map-get($style-colors,fontGreycolor);
                    color:map-get($style-colors,alternateColor);
    
                }
            }
        }
        .form-button{
            background-color: map-get($style-colors ,primaryColor );
           /* border: 1px solid map-get($style-colors,alternateColor);*/
           border: none;
            border-radius: 10%;
            box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 20%);
            color: map-get($style-colors,alternateColor);
            font-size:var(--text-xsmall) ;
            padding: map-get($style-spacings ,spacingXSmall );
            transition: background-color 0.5s, color 0.5s, font-weight 0.5s, box-shadow 0.5s;
            transition-timing-function: ease-in;
            &:hover{
                background-color: map-get($style-colors,alternateColor);
                box-shadow: none;
                color: map-get($style-colors ,primaryColor );
                font-weight:bold;
                
            }
            
        }
    } 

}





/* Mix-in implementado para cambiar el estilo de todas las cards de imagenes que no estan featured o son del articulo principal de su respectiva página*/

@mixin cardImgStyle($img-height,$image-crop,$image-position ){
    height:$img-height;
    width:100%;
    object-fit:$image-crop;
    object-position:$image-position ;

}

%card-default-mobile{
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: map-get($style-spacings, spacingMedium);
}


.card{
    @extend %card-default-mobile;
    img{
    @include cardImgStyle(50vh, initial, initial);
    }
    .card-image-crop{
    @include cardImgStyle(50vh, cover, initial);
    }
    
}

%card-default{
    margin-right: var(--spacing-xsmall) ;
    margin-left: var(--spacing-xsmall);
    margin-bottom: var(--spacing-xsmall);
}

.card{
    @extend %card-default;
}



@media screen and (min-width: 768px){

    

    .card{

        .cropped-vert-img{
            
            @include cardImgStyle(50vh, cover, 50% 73%);
        } 
        .post-area-bottom_singlepost-img{
            @include cardImgStyle(50vh, initial, initial);
        }
        .single-post-img{
            @include cardImgStyle(40vh, initial, initial)
        }

        #food-science_egg-img{
             @include cardImgStyle(50vh, cover, 50% 90%);
        }
    }
}

    
